body {
  /*fixes a random medium screen issue,
  investigate further */
  overflow-x:hidden;
}
.search-head .small-text {
  margin-top: -20px;
}
.search-head h1 {
  margin-top:.5rem;
}
.search-box-wide {
  margin: 0 auto;
  float:none;
}
.search-select {
  display: inline-block;
  position: relative;

  width: 38%;
  height: 2.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: 1px solid #666666;
  border-width: 1px 0px 1px 1px;
  background: #f7f7f7;

  font-size: 0.875rem;
  cursor: pointer;
}
.search-form-container {
  width: 62%;
}
.search-select .fa {
  position: absolute;
  right: 0.25rem;
  margin: 0.25rem;
}
.search-select-options {
  border: 1px solid #666666;
  border-width: 0px 1px 1px 1px;
  background: #ffffff;
  padding: 0;

  position: absolute;
  left: 0;
  top: 2.5rem;
  min-width: 250px;
  z-index: 31;
}
.search-select-options li {
  height: 2.5rem;
  padding: 0.5rem 1rem;

  border-bottom: 1px solid #f7f7f7;
  cursor: pointer;
}
.search-select-options li:last-child {
  border-bottom-width: 0;
}
.search-select-options li:hover {
  background: #027ea4;
}
.search-select-options label {
  color: #027ea4;
  width: 125px;
  display: inline-block;
}
.search-select-options li:hover label,
.search-select-options li:hover small {
  color: #ffffff;
}
.search-select-options small {
  color: #9299A5;
  font-style: italic;
}
.search .field-lg {
  width: 65%;
}
.search .field-md {
  width: 50%;
}
.search .field-sm {
  width: 35%;
}
.search input[type="text"] {
  border-width: 1px 0px 1px 1px;
}
.intro {
  font-size:1.3rem;
  font-weight:bold;
  text-align:center;
}
.intro .fa-circle {
  color:#027EA4;
}
.front .callout {
  margin:-15px 0 1rem 5rem;
}
.no-margin-bottom {
  margin-bottom: 0;
}
@media only screen and (max-width: 40em) {
  .front .callout {
    margin:0.625rem 0 1rem 0;
  }
  .intro .fa-stack{
    display:none;
  }
}
.xtra-lg {
  font-size:1.89rem;
  line-height:1;
  word-wrap:break-word;
}
.align-right{
  text-align:right;
}
.sales h3 {
  margin-bottom:5px;
  font-weight:normal;
  color: #666;
  font-size: 0.8125rem;
  margin-top: 0;
}
h4.alternate{
  margin-bottom:0;
  font-weight:normal;
}
.normal{
  text-transform:none;
}
p {
  font-size:.9rem;
}
.button{
  width:100%;
}
.small-text{
  font-family:"Open Sans","Arial",sans-serif;
  font-weight:normal;
  text-transform:none;
}
table thead tr th, table thead tr td{
    font-size:.7rem;
}
.panel, .bold {
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.owners {
    line-height:1;
}
.owners div {
  margin-bottom:1rem;
}
.map-container {
  width:100%;
}
.map {
  height: 200px;
}
.mailing {
  font-size:.8rem;
}
.result-row {
  cursor: pointer;
}
.panel h3{
  color:#666;
}
.results-view{
  background: #dbe1e3;
  margin-top: -16px;
}
.results i {
  color:#027EA4;
}
.results tr td:first-child{
  font-size:.8rem;
}
.results tr:hover, .results tr:hover a{
  background:#dbe1e3;
  color:#000;
}
.tax-balance-summary {
  padding-bottom: 1rem;
}

.hidden{
  display:none !important;
}

@media only screen and (min-width: 40.0625em) {
  .search-select {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  .search-box.medium-16 .search-select {
    width: 32%;
  }
  .search-box.medium-16 .search-form-container {
    width: 68%;
  }

  .search-box.medium-10 .search-select {
    width: 40%;
    padding-left: 0.5rem;
  }
  .search-box.medium-10 .search-form-container {
    width: 60%;
  }
}

@media only screen and (min-width: 64.0625em) {
  .search-box.medium-16 .search-select {
    width: 22%;
  }
  .search-box.medium-16 .search-form-container {
    width: 73%;
  }

  .search-box.medium-10 .search-select {
    width: 30%;
  }
  .search-box.medium-10 .search-form-container {
    width: 70%;
  }

}


/* print-specific*/
@media print {
  body {
   font-size: 80%;
  }
  /*stop blank page at end */
  body, html, #application { height: 100%; }

  #alpha-alert, footer, .button, .button + .small-text, .search, .map-container, #breadcrumbs, .search-box, .divider, .real-estate-taxes, .search-right, .zoning-link, .opa-inquiry-panel {
    display:none;
  }
  /*to fit more on the page*/
  .medium-12, .large-10, .property-main{
    width:50%;
  }
  .property-side {
    margin-top:-45px;
  }
  .xtra-lg, .h3{
    font-size:1em;
  }
  .search-head {
    padding: 0px !important;
    margin: 0px !important;
  }
  .panel {
    padding:10px;
  }
  .panel h4, .panel h4 + div, .sales h3, .sales h3 + div {
    display:inline;
  }
  .panel h4:after, .sales h3:after{
    content: ": ";
  }
  .panel h4 + div::after, .sales h3 + div::after{
    content:"";
    display:block;
  }
  a[href]:after {
    content: none !important;
  }
}
