body {
  /*fixes a random medium screen issue,
  investigate further */
  overflow-x:hidden;
}
.search-head .small-text {
  margin-top: -20px;
}
.search-head h1 {
  margin-top:.5rem;
}
.search-box-wide {
  margin: 0 auto;
  float:none;
}
.float-right {
  float:right;
}
.intro {
  font-size:1.3rem;
  font-weight:bold;
  text-align:center;
}
.intro .fa-circle {
  color:#027EA4;
}
.front .callout {
  margin:-15px 0 1rem 5rem;
}
@media only screen and (max-width: 40em) {
  .front .callout {
    margin:0.625rem 0 1rem 0;
  }
  .intro .fa-stack{
    display:none;
  }
}
.xtra-lg {
  font-size:1.89rem;
  line-height:1;
  word-wrap:break-word;
}
.align-right{
  text-align:right;
}
.sales h3 {
  margin-bottom:5px;
  font-weight:normal;
  color: #666;
  font-size: 0.8125rem;
  margin-top: 0;
}
h4.alternate{
  margin-bottom:0;
  font-weight:normal;
}
.normal{
  text-transform:none;
}
p {
  font-size:.9rem;
}
.button{
  width:100%;
}
.small-text{
  font-family:"Open Sans","Arial",sans-serif;
  font-weight:normal;
  text-transform:none;
}
table {
  /*required for borders on trs */
    border-collapse: collapse;
}
table thead tr th, table thead tr td{
    font-size:.7rem;
}
table tr.highlight-fill {
  background:#f2ba13;
}
table tr.highlight-border {
  border:2px solid #f2ba13;
}
.panel, .bold {
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.owners {
    line-height:1;
}
.owners div {
  margin-bottom:1rem;
}
.street-view {
  max-height:200px;
  width:100%;
}
.mailing {
  font-size:.8rem;
}
.map {
  height: 200px;
}
.result-row {
  cursor: pointer;
}
.street-view-toggle{
  position: absolute;
  margin: 0;
  right: 15px;
  top: 5px;
}
.panel h3{
  color:#666;
}
.results-view{
  background: #dbe1e3;
  margin-top: -16px;
}
.results i {
  color:#027EA4;
}
.results tr td:first-child{
  font-size:.8rem;
}
.results tr:hover, .results tr:hover a{
  background:#dbe1e3;
  color:#000;
}
/*tooltips*/
.has-tip{
  color:#027EA4;
}
.has-tip:hover, .has-tip:focus{
  color: #333;
}
dt, dd {
  width:50%;
  float:left;
}
/* Fix images in google maps*/
.gmnoprint img {
    max-width: none;
}
.hidden{
  display:none !important;
}
/* set our special print classes */
.show-for-print{
  display:none;
}

/* print-specific */
@media print {
  body {
   font-size: 80%;
  }
  /*stop blank page at end */

  .show-for-print{
    display:block;
  }
  #alpha-alert, footer, .button, .search, .map, #breadcrumbs, .search-box {
    display:none;
  }
  /*to fit more on the page*/
  .medium-12, .large-10, .property-main, .search-head{
    width:50%;
  }
  .property-side {
    margin-top:-100px;
  }
  .xtra-lg {
    font-size:1;
  }
}
