.smooth {
  transition: width 1s;
  white-space: nowrap;
}
.search-head {
  height: 120px;
}
.search-head .small-text {
  margin-top: -20px;
}
.search-box-wide {
  margin: 0 auto;
  float:none;
}
.float-right {
  float:right;
}
.intro {
  font-size:1.3rem;
  font-weight:bold;
  text-align:center;
}
.intro .fa-circle {
  color:#027EA4;
}
.front .callout {
  margin:-15px 0 1rem 5rem;
}
@media only screen and (max-width: 40em) {
  .front .callout {
    margin:0.625rem 0 1rem 0;
  }
}
.xtra-lg {
    font-size:2.1rem;
    line-height:1;
    word-wrap:break-word;
}
.align-right{
  text-align:right;
}
h4.alternate{
  margin-bottom:0;
  font-weight:normal;
}
.normal{
  text-transform:none;
}
p {
  font-size:.9rem;
}
.button{
  width:100%;
}
.small-text{
  font-family:"Open Sans","Arial",sans-serif;
  font-weight:normal;
  text-transform:none;
}
table thead tr th, table thead tr td{
    font-size:.7rem;
}
.panel, .bold {
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.owners {
    line-height:1;
}
.owners div {
  margin-bottom:1rem;
}
.street-view {
  max-height:200px;
  width:100%;
}
.mailing {
    font-size:.8rem;
}
